.item-2--S2y {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    background-color: #ffffff;
}
.item-2--S2y .auto-group-czuf-gxu {
    margin-bottom: 20rem;
    box-sizing: border-box;
    padding: 2.2rem 36rem 10.8rem 36rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #15181d;
    flex-shrink: 0;
}

.item-2--S2y .auto-group-czuf-gxu .auto-group-abjt-WXw {
    width: 100%;
    height: 48.2rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-czuf-gxu .auto-group-abjt-WXw .auto-group-bket-s7b {
    margin: 3rem 27rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-czuf-gxu .auto-group-abjt-WXw .auto-group-bket-s7b .item--zxu {
    margin-bottom: 1.6rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-czuf-gxu .auto-group-abjt-WXw .auto-group-bket-s7b .item-5--vLm {
    margin-bottom: 5.6rem;
    max-width: 25.9rem;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3999999818;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-czuf-gxu .auto-group-abjt-WXw .auto-group-bket-s7b .item--agD {
    max-width: 21.1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-czuf-gxu .auto-group-abjt-WXw .auto-group-sf87-cso {
    width: 67.1rem;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-czuf-gxu .auto-group-abjt-WXw .auto-group-sf87-cso .image-1-Nc5 {
    width: 66.6rem;
    height: 43.9rem;
    position: absolute;
    left: 0.5rem;
    top: 4.3rem;
    background-color: rgba(0, 0, 0, 0.200000003);
    border-radius: 2rem;
}
.item-2--S2y .auto-group-czuf-gxu .auto-group-abjt-WXw .auto-group-sf87-cso .image-2-5WV {
    width: 66.6rem;
    height: 43.9rem;
    position: relative;
    left: 0;
    top: 0;
    background-size: 199.802% 170.529%;
    background-position: -54.9963rem -14.8288rem;
    background-image: url("../../assets/images/image-2.png");
    border-radius: 2rem;
}
.item-2--S2y .item--wHo {
    margin: 0rem 0rem 2.4rem 0.1rem;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .item--dAd {
    margin-left: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.6000000347;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH {
    width: 100%;
    height: 183.6rem;
    position: relative;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-uv1h-9HP {
    width: 120rem;
    height: 28rem;
    position: absolute;
    left: 36rem;
    top: 7rem;
    display: flex;
    column-gap: 4.2rem;
    align-items: center;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-uv1h-9HP .auto-group-qsdq-qAD {
    box-sizing: border-box;
    padding: 10.6rem 14.2rem 10.6rem 14.3rem;
    width: 37.2rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3000000119);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/rectangle-18-bg-Ryf.png");
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-uv1h-9HP .auto-group-qsdq-qAD .item--MuF {
    max-width: 8.7rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-uv1h-9HP .auto-group-9z9z-PL9 {
    box-sizing: border-box;
    padding: 11.3rem 11.8rem 9.9rem 13rem;
    width: 37.2rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3000000119);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/rectangle-19-bg-fKB.png");
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-uv1h-9HP .auto-group-9z9z-PL9 .item--82q {
    max-width: 12.4rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-uv1h-9HP .auto-group-qk8j-xXf {
    box-sizing: border-box;
    padding: 9.6rem 13.4rem 5.4rem 13.45rem;
    width: 37.2rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.400000006);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/rectangle-20-bg-HBs.png");
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-uv1h-9HP .auto-group-qk8j-xXf .item--gTf {
    margin: 0rem 0.05rem 2rem 0rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-uv1h-9HP .auto-group-qk8j-xXf .item--xvy {
    margin-left: 0.05rem;
    max-width: 10.3rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3999999364;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .item--bDF {
    width: 39.1rem;
    height: 7.7rem;
    position: absolute;
    left: 36rem;
    top: 39.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6000000238;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-pxbh-rJH .frame-23-Qpu {
    width: 41.1rem;
    height: 9.7rem;
    position: absolute;
    left: 75.5rem;
    top: 67.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.item-2--S2y .auto-group-pxbh-rJH .frame-23-Qpu .item--9nV {
    margin-bottom: 2.4rem;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .frame-23-Qpu .item--9nV .item--9nV-sub-0 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-pxbh-rJH .frame-23-Qpu .item--9nV .item--9nV-sub-1 {
}
.item-2--S2y .auto-group-pxbh-rJH .frame-23-Qpu .item--EBf {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.3999999653;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP {
    width: 120rem;
    height: 56.1rem;
    position: absolute;
    left: 36rem;
    top: 85.1rem;
    display: flex;
    align-items: center;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .auto-group-ybtf-kpD {
    margin-right: 4rem;
    width: 58rem;
    height: 100%;
    row-gap: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .auto-group-ybtf-kpD .frame-17-gxm {
    box-sizing: border-box;
    padding: 3.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #dde1e6;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-pxbh-rJH
    .auto-group-vpep-4wP
    .auto-group-ybtf-kpD
    .frame-17-gxm
    .item-33-1-Sh3 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-pxbh-rJH
    .auto-group-vpep-4wP
    .auto-group-ybtf-kpD
    .frame-17-gxm
    .item--A7F {
    max-width: 30.3rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .auto-group-ybtf-kpD .frame-19-9js {
    box-sizing: border-box;
    padding: 3.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #dde1e6;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-pxbh-rJH
    .auto-group-vpep-4wP
    .auto-group-ybtf-kpD
    .frame-19-9js
    .item-33-2-i2H {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-pxbh-rJH
    .auto-group-vpep-4wP
    .auto-group-ybtf-kpD
    .frame-19-9js
    .item--oZX {
    max-width: 28.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .auto-group-ybtf-kpD .frame-18-ycR {
    box-sizing: border-box;
    padding: 3.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #dde1e6;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-pxbh-rJH
    .auto-group-vpep-4wP
    .auto-group-ybtf-kpD
    .frame-18-ycR
    .item-44-1-gmj {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-pxbh-rJH
    .auto-group-vpep-4wP
    .auto-group-ybtf-kpD
    .frame-18-ycR
    .item--BiV {
    max-width: 35.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .frame-21-W8V {
    box-sizing: border-box;
    padding: 3.2rem 4.905rem 3.6rem 3.2rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #dde1e6;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .frame-21-W8V .frame-20-EaH {
    margin: 0rem 21.995rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .frame-21-W8V .frame-20-EaH .item-44-2-ynm {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .frame-21-W8V .frame-20-EaH .item--p2h {
    max-width: 22.7rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .frame-21-W8V .item--rk5 {
    margin: 0rem 17.995rem 2rem 0rem;
    max-width: 31.9rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .frame-21-W8V .item--qM7 {
    margin: 0rem 16.295rem 3.6rem 0rem;
    max-width: 33.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .auto-group-vpep-4wP .frame-21-W8V .privacy-law-2-yLq {
    margin-left: 35.3054rem;
    width: 14.5892rem;
    height: 17.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-pxbh-rJH .frame-22-gFF {
    box-sizing: border-box;
    padding: 3.2rem;
    width: 120rem;
    height: 12.2rem;
    position: absolute;
    left: 36rem;
    top: 151.4rem;
    background-color: #ecf1fe;
    border-radius: 1.2rem;
}
.item-2--S2y .auto-group-pxbh-rJH .frame-22-gFF .item--1oK {
    max-width: 68.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-pxbh-rJH .item--p8V {
    width: 11rem;
    height: 2.2rem;
    position: absolute;
    left: 36rem;
    top: 147.2rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-2--S2y .auto-group-t2xv-rqs {
    box-sizing: border-box;
    padding: 20rem 36.1rem 20rem 36rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .item--zBP {
    margin: 0rem 0rem 10rem 0.1rem;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb {
    margin-bottom: 2.7rem;
    width: 100%;
    height: 27.2rem;
    display: flex;
    column-gap: 3.7rem;
    align-items: center;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-xih9-EbX {
    box-sizing: border-box;
    padding: 6.8rem 8.6rem 5.2rem 8.6rem;
    width: 27.2rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-xih9-EbX .contract-type-1-m5f {
    margin-bottom: 3rem;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-xih9-EbX .item--HZo {
    margin-left: 0.0999rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-zsd9-PMw {
    box-sizing: border-box;
    padding: 6.8rem 9.324rem 5.2rem 9.324rem;
    width: 27.2rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-zsd9-PMw .contract-type-1-WhT {
    margin-bottom: 3rem;
    width: 8.5516rem;
    height: 10rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-zsd9-PMw .item--SLD {
    margin-left: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-ykdq-8Tw {
    box-sizing: border-box;
    padding: 6.8rem 8.6rem 5.2rem 8.6rem;
    width: 27.2rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-ykdq-8Tw .contract-type-1-4Mb {
    margin-bottom: 3rem;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-ykdq-8Tw .item--YGm {
    margin-left: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-q4ex-1RF {
    box-sizing: border-box;
    padding: 6.8rem 8.603rem 5.2rem 8.603rem;
    width: 27.2rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-q4ex-1RF .contract-type-1-7DP {
    margin-bottom: 3rem;
    width: 9.9938rem;
    height: 10rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-t58p-hbb .auto-group-q4ex-1RF .item--dxR {
    margin-left: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-vczz-M7j {
    margin-right: 30.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-vczz-M7j .item--Ui9 {
    margin-right: 19rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-vczz-M7j .item--Aqs {
    margin-right: 18.4rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-t2xv-rqs .auto-group-vczz-M7j .item--Ubf {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm {
    width: 100%;
    height: 314.9rem;
    position: relative;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .frame-24-1zu {
    width: 30.5rem;
    height: 9.7rem;
    position: absolute;
    left: 80.75rem;
    top: 20rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.item-2--S2y .auto-group-6mi3-vCm .frame-24-1zu .item--Yzq {
    margin-bottom: 2.4rem;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .frame-24-1zu .item--cjo {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.3999999653;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .frame-25-EFP {
    width: 23.9rem;
    height: 9.7rem;
    position: absolute;
    left: 84.05rem;
    top: 148.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.item-2--S2y .auto-group-6mi3-vCm .frame-25-EFP .item--Y1B {
    margin-bottom: 2.4rem;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .frame-25-EFP .item--ztm {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.3999999653;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .item--eiR {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 30rem;
    position: absolute;
    left: 36rem;
    top: 166.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
}
.item-2--S2y .auto-group-6mi3-vCm .item--eiR .auto-group-uzpd-K3s {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .item--eiR .auto-group-uzpd-K3s .icon-function-cYm {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .item--eiR .item--WPF {
    margin-right: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .item--RFK {
    box-sizing: border-box;
    padding: 5rem 27.6rem 3.7rem 4.4rem;
    width: 58rem;
    height: 20rem;
    position: absolute;
    left: 36rem;
    top: 37.7rem;
    display: flex;
    align-items: center;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
}
.item-2--S2y .auto-group-6mi3-vCm .item--RFK .auto-group-yjfd-JK7 {
    margin-right: 4.6rem;
    width: 10rem;
    height: 11.3rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .item--RFK .frame-26-SRK {
    margin-bottom: 1.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .item--RFK .frame-26-SRK .item--zhj {
    margin: 0rem 1.3rem 2rem 0rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .item--RFK .frame-26-SRK .item--5jB {
    max-width: 11.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 {
    width: 120rem;
    height: 20rem;
    position: absolute;
    left: 36rem;
    top: 59.9rem;
    display: flex;
    align-items: center;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--SCM {
    margin-right: 4rem;
    box-sizing: border-box;
    padding: 5rem 24.3rem 3.7rem 4.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--SCM .auto-group-dkvu-xwP {
    margin: 1.076rem 4rem 0rem 0rem;
    width: 10.6rem;
    height: 10.2236rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--SCM .frame-26-6Xo {
    margin-bottom: 1.3rem;
    width: 14.7rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--SCM .frame-26-6Xo .item--3T3 {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--SCM .frame-26-6Xo .item--ZgH {
    max-width: 14.7rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--DF3 {
    box-sizing: border-box;
    padding: 5rem 21.6rem 3.7rem 4.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--DF3 .auto-group-dc3u-HVo {
    margin: 1.089rem 4rem 0rem 0rem;
    width: 10.6rem;
    height: 10.2112rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--DF3 .frame-26-DeM {
    margin-bottom: 1.3rem;
    width: 17.4rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--DF3 .frame-26-DeM .item--B5P {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-rk3v-j33 .item--DF3 .frame-26-DeM .item--eDs {
    max-width: 17.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV {
    width: 120rem;
    height: 20rem;
    position: absolute;
    left: 36rem;
    top: 82.1rem;
    display: flex;
    align-items: center;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--bYR {
    margin-right: 4rem;
    box-sizing: border-box;
    padding: 5rem 23.3rem 3.7rem 4.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--bYR .auto-group-wjm9-7mf {
    margin: 0.088rem 4rem 0rem 0rem;
    width: 10.6rem;
    height: 11.2123rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--bYR .frame-26-yYy {
    margin-bottom: 1.3rem;
    width: 15.7rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--bYR .frame-26-yYy .item--WYu {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--bYR .frame-26-yYy .item--onu {
    max-width: 15.7rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--gLu {
    box-sizing: border-box;
    padding: 5rem 21.1rem 3.7rem 4.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--gLu .auto-group-zc5q-z6h {
    margin-right: 4.6rem;
    width: 10rem;
    height: 11.3rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--gLu .frame-26-Kuf {
    margin-bottom: 1.3rem;
    width: 17.9rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--gLu .frame-26-Kuf .item--HLh {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-budd-uvV .item--gLu .frame-26-Kuf .item--1Gh {
    max-width: 17.9rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M {
    width: 120rem;
    height: 20rem;
    position: absolute;
    left: 36rem;
    top: 104.3rem;
    display: flex;
    align-items: center;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--zeR {
    margin-right: 4rem;
    box-sizing: border-box;
    padding: 5rem 21.1rem 3.7rem 4.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--zeR .auto-group-8vj9-hYq {
    margin: 0.878rem 4rem 0rem 0rem;
    width: 10.6rem;
    height: 10.4219rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--zeR .frame-26-q9F {
    margin-bottom: 1.3rem;
    width: 17.9rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--zeR .frame-26-q9F .item--naH {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--zeR .frame-26-q9F .item--WmB {
    max-width: 17.9rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--nTo {
    box-sizing: border-box;
    padding: 5rem 27.6rem 3.7rem 4.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--nTo .auto-group-zy8x-Gtm {
    margin-right: 4.6rem;
    width: 10rem;
    height: 11.3rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--nTo .frame-26-bw3 {
    margin-bottom: 1.3rem;
    width: 11.4rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--nTo .frame-26-bw3 .item--ADT {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-16s7-f6M .item--nTo .frame-26-bw3 .item--VFj {
    max-width: 11.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-6mi3-vCm .item--KVf {
    box-sizing: border-box;
    padding: 5rem 25.5rem 3.7rem 4.4rem;
    width: 58rem;
    height: 20rem;
    position: absolute;
    left: 98rem;
    top: 37.7rem;
    display: flex;
    align-items: center;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
}
.item-2--S2y .auto-group-6mi3-vCm .item--KVf .auto-group-cznb-29B {
    margin: 0.001rem 4rem 0rem 0rem;
    width: 10.6rem;
    height: 11.2991rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .item--KVf .frame-26-VYZ {
    margin-bottom: 1.3rem;
    width: 13.5rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .item--KVf .frame-26-VYZ .item--FGq {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-2--S2y .auto-group-6mi3-vCm .item--KVf .frame-26-VYZ .item--BAV {
    max-width: 13.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX {
    width: 120rem;
    height: 30rem;
    position: absolute;
    left: 36rem;
    top: 199.2rem;
    display: flex;
    column-gap: 3rem;
    align-items: center;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX .item--nRB {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX .item--nRB .auto-group-oxuo-7CZ {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 1.037rem 0.6rem 1.037rem 0.6rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-buzu-rXX
    .item--nRB
    .auto-group-oxuo-7CZ
    .icon-function-quF {
    width: 12rem;
    height: 11.1267rem;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX .item--nRB .item--AwX {
    margin-right: 0.2rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX .item--f7b {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX .item--f7b .auto-group-xjc3-yty {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 0.6rem 1.52rem 0.6rem 1.561rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-buzu-rXX
    .item--f7b
    .auto-group-xjc3-yty
    .icon-function-iLm {
    width: 10.1188rem;
    height: 12rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX .item--f7b .item--Tp9 {
    margin-right: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX .item--gwo {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX .item--gwo .auto-group-i22f-1jB {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 0.6rem 0.8724rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-buzu-rXX
    .item--gwo
    .auto-group-i22f-1jB
    .icon-function-xPX {
    width: 11.4552rem;
    height: 12rem;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-buzu-rXX .item--gwo .item--i7o {
    margin-right: 0.2rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy {
    width: 120rem;
    height: 30rem;
    position: absolute;
    left: 36rem;
    top: 232.2rem;
    display: flex;
    column-gap: 3rem;
    align-items: center;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy .item--8BX {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy .item--8BX .auto-group-jnz9-FX3 {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 1.2827rem 0.6rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-m4jd-ciy
    .item--8BX
    .auto-group-jnz9-FX3
    .icon-function-o2m {
    width: 12rem;
    height: 10.6347rem;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy .item--8BX .item--Ym3 {
    margin-right: 0.2rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy .item--4Db {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy .item--4Db .auto-group-3u7y-BJD {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 0.623rem 0.6rem 0.614rem 0.6rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-m4jd-ciy
    .item--4Db
    .auto-group-3u7y-BJD
    .icon-function-h1f {
    width: 12rem;
    height: 11.9628rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy .item--4Db .item--cuK {
    margin-right: 0.2rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy .item--6Zb {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy .item--6Zb .auto-group-v4t3-dJd {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 1.408rem 0.6rem 1.408rem 0.6rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-m4jd-ciy
    .item--6Zb
    .auto-group-v4t3-dJd
    .icon-function-YAh {
    width: 12rem;
    height: 10.3832rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-m4jd-ciy .item--6Zb .item--6CD {
    margin-right: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 {
    width: 120rem;
    height: 30rem;
    position: absolute;
    left: 36rem;
    top: 265.2rem;
    display: flex;
    column-gap: 3rem;
    align-items: center;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 .item--hxh {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 .item--hxh .auto-group-nkh1-2k5 {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 0.6rem 0.6rem 0.604rem 0.6rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-6dum-n53
    .item--hxh
    .auto-group-nkh1-2k5
    .icon-function-NJ9 {
    width: 12rem;
    height: 11.9958rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 .item--hxh .item--7Wd {
    margin-right: 0.2rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 .item--zqK {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 .item--zqK .auto-group-mtx7-vDB {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 0.6rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-6dum-n53
    .item--zqK
    .auto-group-mtx7-vDB
    .icon-function-fRf {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 .item--zqK .item--nmB {
    margin-right: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 .item--VvV {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 .item--VvV .auto-group-jqa3-E7P {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 0.6rem 1.798rem 0.6rem 1.798rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-6dum-n53
    .item--VvV
    .auto-group-jqa3-E7P
    .icon-function-Mxh {
    width: 9.6036rem;
    height: 12rem;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-6dum-n53 .item--VvV .item--Wah {
    margin-right: 0.2rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-v4fm-RSm {
    width: 79rem;
    height: 30rem;
    position: absolute;
    left: 77rem;
    top: 166.2rem;
    display: flex;
    align-items: center;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-v4fm-RSm .item--xSh {
    margin-right: 3rem;
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-v4fm-RSm .item--xSh .auto-group-gnzy-Ufw {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 0.6rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-v4fm-RSm
    .item--xSh
    .auto-group-gnzy-Ufw
    .icon-function-2SZ {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-v4fm-RSm .item--xSh .item--yMo {
    margin-right: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-v4fm-RSm .item--SWH {
    box-sizing: border-box;
    padding: 5.6rem 12.6rem 5.1rem 12.2rem;
    width: 38rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f4f8;
    border-radius: 1.6rem;
    flex-shrink: 0;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-v4fm-RSm .item--SWH .auto-group-ctxo-mYZ {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 1.83rem 0.6rem 1.83rem 0.6rem;
    width: 100%;
    flex-shrink: 0;
}
.item-2--S2y
    .auto-group-6mi3-vCm
    .auto-group-v4fm-RSm
    .item--SWH
    .auto-group-ctxo-mYZ
    .icon-function-hx1 {
    width: 12rem;
    height: 9.5394rem;
    object-fit: contain;
    vertical-align: top;
}
.item-2--S2y .auto-group-6mi3-vCm .auto-group-v4fm-RSm .item--SWH .item--TRP {
    margin-right: 0.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
