/* 
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
} */
.item-3--5Rw {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    background-color: #ffffff;
}
.item-3--5Rw .auto-group-efsb-iE1 {
    width: 100%;
    height: 80rem;
    position: relative;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-efsb-iE1 .rectangle-1078-QMj {
    width: 126.3rem;
    height: 80rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #15181d;
}
.item-3--5Rw .auto-group-efsb-iE1 .rectangle-22-7mw {
    width: 107.3rem;
    height: 80rem;
    position: absolute;
    left: 84.7rem;
    top: 0;
    background: linear-gradient(90deg, #15191e 14.58%, rgba(21, 25, 30, 0) 100%);
    background-size: 111.836% 100%;
    background-position: -0.7rem 0;
    background-image: url("../../assets/images/rectangle-22-bg.png");
}
.item-3--5Rw .auto-group-efsb-iE1 .rectangle-22-7mw .rectangle-22-7mw-bg {
    width: 107.3rem;
    height: 80rem;
    position: relative;
    /* background-image: url('REPLACE_IMAGE:f0bd626c0a2fc3a6bc2251a4f5bbcd6b55579b28'); */
}
.item-3--5Rw .auto-group-efsb-iE1 .rectangle-1079-jYR {
    width: 107.3rem;
    height: 80rem;
    position: absolute;
    left: 37.3rem;
    top: 0;
    background: linear-gradient(90deg, #15191e 14.58%, rgba(21, 25, 30, 0) 100%);
}
.item-3--5Rw .auto-group-efsb-iE1 .item--eQV {
    width: 21.8rem;
    height: 11.8rem;
    position: absolute;
    left: 36rem;
    top: 27.6rem;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3999999818;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-efsb-iE1 .item--VR7 {
    width: 4.9rem;
    height: 2rem;
    position: absolute;
    left: 36rem;
    top: 24rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-3--5Rw .auto-group-efsb-iE1 .item--ty3 {
    width: 24.1rem;
    height: 6.4rem;
    position: absolute;
    left: 36rem;
    top: 45rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
}

.item-3--5Rw .auto-group-zfhv-vEq {
    width: 100%;
    height: 333.3rem;
    position: relative;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-23-eRj {
    width: 53.6rem;
    height: 8.8rem;
    position: absolute;
    left: 69.25rem;
    top: 20rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-23-eRj .item--a4V {
    margin-bottom: 2.4rem;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-23-eRj .item--a4V .item--a4V-sub-0 {
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-23-eRj .item--a4V .item--a4V-sub-1 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-23-eRj .item--a4V .item--a4V-sub-2 {
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-23-eRj .item--a4V .item--a4V-sub-3 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-23-eRj .item--a4V .item--a4V-sub-4 {
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-23-eRj .pc--7MF {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-24-NY5 {
    width: 25.8rem;
    height: 8.8rem;
    position: absolute;
    left: 83.15rem;
    top: 202.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-24-NY5 .item--tmK {
    margin-bottom: 2.4rem;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .frame-24-NY5 .item--bQq {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-nrmu-5L1 {
    box-sizing: border-box;
    padding: 10.4rem 0.4rem 10.4rem 2.3rem;
    width: 120rem;
    height: 69.6rem;
    position: absolute;
    left: 36rem;
    top: 36.8rem;
    border: solid 0.1rem #dde1e6;
    border-radius: 2rem;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-nrmu-5L1 .item-1-aGm {
    width: 117.3rem;
    height: 48.8rem;
    object-fit: cover;
    vertical-align: top;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-f8z9-RYH {
    width: 84.7rem;
    height: 2.8rem;
    position: absolute;
    left: 36rem;
    top: 281.1rem;
    display: flex;
    align-items: center;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-f8z9-RYH .frame-920-kKf {
    margin-right: 50.3rem;
    width: 11.7rem;
    height: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #2779f4;
    box-sizing: border-box;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-f8z9-RYH .frame-629-d8Z {
    width: 22.7rem;
    height: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #2779f4;
    box-sizing: border-box;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-2u8f-heD {
    width: 76.8rem;
    height: 2.8rem;
    position: absolute;
    left: 36rem;
    top: 219.7rem;
    display: flex;
    align-items: center;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-2u8f-heD .frame-922-RKK {
    margin-right: 50.3rem;
    width: 11.7rem;
    height: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #2779f4;
    box-sizing: border-box;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-2u8f-heD .frame-923-7C9 {
    width: 14.8rem;
    height: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #2779f4;
    box-sizing: border-box;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-gyl3-QS9 {
    width: 79.2rem;
    height: 2.8rem;
    position: absolute;
    left: 36rem;
    top: 250.4rem;
    display: flex;
    align-items: center;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-gyl3-QS9 .frame-924-XWm {
    margin-right: 49.6rem;
    width: 12.4rem;
    height: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #2779f4;
    box-sizing: border-box;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-gyl3-QS9 .frame-925-QqT {
    width: 17.2rem;
    height: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #2779f4;
    box-sizing: border-box;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-5szq-hpZ {
    width: 120rem;
    height: 26.4rem;
    position: absolute;
    left: 36rem;
    top: 286.9rem;
    display: flex;
    align-items: center;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-5szq-hpZ .frame-921-2rq {
    margin-right: 4rem;
    box-sizing: border-box;
    padding: 3.2rem 3.2rem 10.6rem 3.2rem;
    width: 58rem;
    height: 100%;
    background-color: #f2f4f8;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-5szq-hpZ .frame-921-2rq .item--kH3 {
    margin-bottom: 1.9rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6000000347;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-5szq-hpZ .frame-921-2rq .item--QcV {
    max-width: 38.1rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6000000347;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-5szq-hpZ .frame-921-2rq .item--QcV .item--QcV-sub-0 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.9555555979;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-5szq-hpZ .frame-921-2rq .item--QcV .item--QcV-sub-1 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.9555555979;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-5szq-hpZ .frame-926-pi9 {
    box-sizing: border-box;
    padding: 3.2rem;
    width: 58rem;
    height: 100%;
    background-color: #f2f4f8;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-5szq-hpZ .frame-926-pi9 .item-1-An1 {
    margin-bottom: 1.9rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6000000347;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-5szq-hpZ .frame-926-pi9 .item--req {
    max-width: 29.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-3fet-cGd {
    width: 120rem;
    height: 17.7rem;
    position: absolute;
    left: 36rem;
    top: 256.2rem;
    display: flex;
    align-items: center;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-3fet-cGd .frame-930-8km {
    margin-right: 4rem;
    box-sizing: border-box;
    padding: 3.2rem;
    width: 58rem;
    height: 100%;
    background-color: #f2f4f8;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-3fet-cGd .frame-930-8km .item--sTT {
    margin-bottom: 1.9rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6000000347;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-3fet-cGd .frame-930-8km .item--BDF {
    max-width: 31.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-3fet-cGd .frame-927-LVT {
    box-sizing: border-box;
    padding: 3.2rem;
    width: 58rem;
    height: 100%;
    background-color: #f2f4f8;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-3fet-cGd .frame-927-LVT .item--4AZ {
    margin-bottom: 1.9rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6000000347;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-3fet-cGd .frame-927-LVT .item--ZND {
    max-width: 31.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-ug2w-NqT {
    width: 120rem;
    height: 17.7rem;
    position: absolute;
    left: 36rem;
    top: 225.5rem;
    display: flex;
    align-items: center;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-ug2w-NqT .frame-929-72M {
    margin-right: 4rem;
    box-sizing: border-box;
    padding: 3.2rem;
    width: 58rem;
    height: 100%;
    background-color: #f2f4f8;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-ug2w-NqT .frame-929-72M .item--Esf {
    margin-bottom: 1.9rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6000000347;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-ug2w-NqT .frame-929-72M .item--wn5 {
    max-width: 25rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-ug2w-NqT .frame-928-ML1 {
    box-sizing: border-box;
    padding: 3.2rem;
    width: 58rem;
    height: 100%;
    background-color: #f2f4f8;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-ug2w-NqT .frame-928-ML1 .item--Vh7 {
    margin-bottom: 1.9rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6000000347;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-ug2w-NqT .frame-928-ML1 .item--pUV {
    max-width: 27rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD {
    width: 120rem;
    height: 19.3rem;
    position: absolute;
    left: 36rem;
    top: 159.6rem;
    display: flex;
    column-gap: 3rem;
    align-items: center;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD .frame-917-Mcq {
    box-sizing: border-box;
    padding: 2.4rem 8.5rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.2rem #000000;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD .frame-917-Mcq .item--Vj3 {
    margin-bottom: 1.9rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.6000000636;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD .frame-917-Mcq .item-6--D9F {
    max-width: 21rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD .frame-918-wzM {
    box-sizing: border-box;
    padding: 2.4rem 9.25rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.2rem #000000;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD .frame-918-wzM .item--gww {
    margin-bottom: 1.9rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.6000000636;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD .frame-918-wzM .item-20--JTX {
    max-width: 19.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD .frame-919-HaM {
    box-sizing: border-box;
    padding: 2.4rem 11.65rem 5.3rem 11.65rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.2rem #000000;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD .frame-919-HaM .item--RAm {
    margin-bottom: 1.9rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.6000000636;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-k5qx-EYD .frame-919-HaM .item--Xjb {
    max-width: 14.7rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-hxpw-NkD {
    width: 113.9rem;
    height: 39.6rem;
    position: absolute;
    left: 38.3rem;
    top: 120rem;
    display: flex;
    align-items: flex-end;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-hxpw-NkD .vector-2-JNy {
    width: 5.7rem;
    height: 35rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-hxpw-NkD .auto-group-4edz-Sk5 {
    width: 108.2rem;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-hxpw-NkD .auto-group-4edz-Sk5 .group-15-b7B {
    width: 104rem;
    height: 28.1rem;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF {
    width: 100%;
    height: 8.7rem;
    position: relative;
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.150000006);
    background-color: #ffffff;
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF
    .frame-916-fcq {
    width: 89.5rem;
    height: 3.2rem;
    position: absolute;
    left: 7.25rem;
    top: 2.8rem;
    display: flex;
    align-items: center;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF
    .frame-916-fcq
    .item--ydX {
    margin-right: 9.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF
    .frame-916-fcq
    .item--gnq {
    margin-right: 9.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF
    .frame-916-fcq
    .item--o6m {
    margin-right: 9.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF
    .frame-916-fcq
    .item--7dF {
    margin-right: 9.2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF
    .frame-916-fcq
    .item--qJM {
    margin-right: 9.2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF
    .frame-916-fcq
    .item--MGh {
    margin-right: 9.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF
    .frame-916-fcq
    .item--GeZ {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-e5jy-vfF
    .rectangle-1088-zqT {
    width: 104rem;
    height: 8.7rem;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 0.2rem #2779f4;
    box-sizing: border-box;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-bwxh-hE5 {
    box-sizing: border-box;
    padding: 2.8rem 19.85rem 2.1rem 7.65rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border: dashed 0.1rem #000000;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1000000015);
    background-color: #fafafa;
    border-radius: 0 0 1.2rem 1.2rem;
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-bwxh-hE5
    .item--c69 {
    margin-right: 9.1rem;
    max-width: 6rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-bwxh-hE5
    .item--Ue9 {
    margin-right: 8.6rem;
    max-width: 4.4rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-bwxh-hE5
    .item--NDj {
    margin-right: 7.55rem;
    max-width: 7.1rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-bwxh-hE5
    .a-type-75b-type-84a-type-84b-type-84c-type-SjP {
    margin-right: 7.55rem;
    max-width: 6.9rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-bwxh-hE5
    .item--kEH {
    margin-right: 7.8rem;
    max-width: 4.4rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-3--5Rw
    .auto-group-zfhv-vEq
    .auto-group-hxpw-NkD
    .auto-group-4edz-Sk5
    .group-15-b7B
    .auto-group-bwxh-hE5
    .item--Sso {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6000000636;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-hxpw-NkD .auto-group-4edz-Sk5 .vector-3-6SZ {
    width: 8.4rem;
    height: 35rem;
    position: absolute;
    left: 99.8rem;
    top: 4.6rem;
    object-fit: contain;
    vertical-align: top;
}
.item-3--5Rw .auto-group-zfhv-vEq .auto-group-hxpw-NkD .auto-group-4edz-Sk5 .arrow-1-RUq {
    width: 0;
    height: 15.7rem;
    position: absolute;
    left: 40.4rem;
    top: 23.9rem;
    object-fit: contain;
    vertical-align: top;
}
