/* 
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
} */
.item-6--u7K {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    background-color: #ffffff;
}
.item-6--u7K .auto-group-rmxf-ajF {
    width: 100%;
    height: 138.7rem;
    position: relative;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .item--1Zf {
    width: 10.1rem;
    height: 4.2rem;
    position: absolute;
    left: 36rem;
    top: 18rem;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-6--u7K .auto-group-rmxf-ajF .group-2-Ui9 {
    box-sizing: border-box;
    padding: 2.2rem 2.4rem;
    width: 120rem;
    height: 7.2rem;
    position: absolute;
    left: 36rem;
    top: 27rem;
    border: solid 0.3rem #2779f4;
    border-radius: 0.6rem;
}
.item-6--u7K .auto-group-rmxf-ajF .group-2-Ui9 .frame-646-niq {
    box-sizing: border-box;
    padding: 0.35rem 0rem 0.35rem 0.35rem;
    width: 20.9rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.item-6--u7K .auto-group-rmxf-ajF .group-2-Ui9 .frame-646-niq .search-md-hau {
    margin-right: 1.95rem;
    width: 2.1rem;
    height: 2.1rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .group-2-Ui9 .frame-646-niq .item--2t5 {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1;
    color: #999999;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-647-5LZ {
    width: 24.8rem;
    height: 3.4rem;
    position: absolute;
    left: 36.2rem;
    top: 45.7rem;
    display: flex;
    align-items: center;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-647-5LZ .tabmenu-notice-oXT {
    box-sizing: border-box;
    padding: 0 1.7rem;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    border: solid 0.1rem #000000;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-647-5LZ .auto-group-xlpb-gLM {
    box-sizing: border-box;
    padding-left: 6.5rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-647-5LZ .auto-group-xlpb-gLM .item--pSZ {
    margin-right: 7.2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-647-5LZ .auto-group-xlpb-gLM .item--Ku7 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .line-8-TEd {
    width: 120rem;
    height: 0.1rem;
    position: absolute;
    left: 36rem;
    top: 49.1rem;
    background-color: #dde1e6;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb {
    width: 120rem;
    height: 56rem;
    position: absolute;
    left: 36rem;
    top: 51.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .notice-list-74H {
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    height: 5.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .notice-list-74H .item--eK7 {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .notice-list-74H .frame-648-ycH {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .notice-list-74H .frame-648-ycH .item--Lhj {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .notice-list-74H
    .frame-648-ycH
    .item-20230907-ByF {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP {
    box-sizing: border-box;
    padding: 2rem 2rem 0rem 2rem;
    width: 100%;
    row-gap: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-2DB {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-2DB .item--y8R {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-2DB
    .frame-648-uGy {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-2DB
    .frame-648-uGy
    .item--49s {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-2DB
    .frame-648-uGy
    .item-20230907-789 {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-qK3 {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-qK3 .item--a1j {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-qK3
    .frame-648-uJu {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-qK3
    .frame-648-uJu
    .item--TrD {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-qK3
    .frame-648-uJu
    .item-20230907-WbX {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-PvD {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-PvD .item--98h {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-PvD
    .frame-648-5HF {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-PvD
    .frame-648-5HF
    .item--qXK {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-PvD
    .frame-648-5HF
    .item-20230907-6i9 {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-dTB {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-dTB .item--BDo {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-dTB
    .frame-648-W1B {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-dTB
    .frame-648-W1B
    .item--fPs {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-dTB
    .frame-648-W1B
    .item-20230907-j8q {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-Tad {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-Tad .item--R1f {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-Tad
    .frame-648-wkh {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-Tad
    .frame-648-wkh
    .item--hzm {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-Tad
    .frame-648-wkh
    .item-20230907-N5K {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-6X7 {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-6X7 .item--Sqs {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-6X7
    .frame-648-NzR {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-6X7
    .frame-648-NzR
    .item--YP7 {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-6X7
    .frame-648-NzR
    .item-20230907-b6V {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-86R {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-86R .item--GiR {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-86R
    .frame-648-BqP {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-86R
    .frame-648-BqP
    .item--x5T {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-86R
    .frame-648-BqP
    .item-20230907-D1P {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-vgV {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-vgV .item--H1F {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-vgV
    .frame-648-oVP {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-vgV
    .frame-648-oVP
    .item--N2h {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-vgV
    .frame-648-oVP
    .item-20230907-BF3 {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-VWd {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-649-NMb .auto-group-vvab-iTP .notice-list-VWd .item--3Y9 {
    margin-right: 7.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-VWd
    .frame-648-ygh {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-VWd
    .frame-648-ygh
    .item--YUu {
    margin-right: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K
    .auto-group-rmxf-ajF
    .frame-649-NMb
    .auto-group-vvab-iTP
    .notice-list-VWd
    .frame-648-ygh
    .item-20230907-QX7 {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh {
    width: 31.2rem;
    height: 3.6rem;
    position: absolute;
    left: 80.4rem;
    top: 117.1rem;
    display: flex;
    align-items: center;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh .group-4-Rh7 {
    width: 3.6rem;
    height: 3.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh .pager-a4D {
    width: 3.6rem;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f4f8;
    border-radius: 1.8rem;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh .pager-FRF {
    width: 3.6rem;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.8rem;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh .pager-vGV {
    width: 3.6rem;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.8rem;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh .pager-Ryw {
    width: 3.6rem;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.8rem;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh .pager-YYm {
    margin-right: 0.4rem;
    width: 3.6rem;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.8rem;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh .dots-horizontal-2Tw {
    margin-right: 0.4rem;
    width: 1.6rem;
    height: 0.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh .pager-xcV {
    width: 3.6rem;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.8rem;
    flex-shrink: 0;
}
.item-6--u7K .auto-group-rmxf-ajF .frame-650-inh .group-3-sjT {
    width: 3.6rem;
    height: 3.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
