/* 
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
} */
.item-6--xmj {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  background-color: #ffffff;
}
.item-6--xmj .auto-group-xysf-qad {
  box-sizing: border-box;
  padding: 2.2rem 36rem 18rem 36rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf {
  margin-bottom: 11.9rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .logo-HhX {
  margin: 0rem 20rem 0.3rem 0rem;
  width: 15.3rem;
  height: 3.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-1-CZb {
  margin-right: 5rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-1-CZb .auto-group-lmpw-9Dw {
  box-sizing: border-box;
  padding-right: 4.5rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-1-CZb .auto-group-lmpw-9Dw .item--svd {
  margin-right: 5.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #697077;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-1-CZb .auto-group-lmpw-9Dw .item--zEZ {
  margin-right: 4.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-1-CZb .auto-group-lmpw-9Dw .item--6oP {
  margin-right: 4.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #697077;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-1-CZb .auto-group-lmpw-9Dw .item--pzH {
  margin-right: 5.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #697077;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-1-CZb .auto-group-lmpw-9Dw .item--xqb {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #697077;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-1-CZb .gnb-text-5vD {
  width: 5.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #0858f7;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-2-aMB {
  margin-bottom: 0.5rem;
  height: 3.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-2-aMB .button-type-1-Jny {
  margin-right: 1rem;
  width: 8.2rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0858f7;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .gnb-wdf .frame-2-aMB .button-type-1-BLy {
  width: 9.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #0858f7;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #0858f7;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .item--fX3 {
  margin: 0rem 109.9rem 10rem 0rem;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih {
  margin-bottom: 10rem;
  width: 100%;
  height: 38.7rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-5-6cM {
  width: 38rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-5-6cM .auto-group-c3gx-3Xb {
  box-sizing: border-box;
  padding: 0rem 0.2rem 4rem 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-5-6cM .auto-group-c3gx-3Xb .item--aGd {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #574af9;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-5-6cM .auto-group-c3gx-3Xb .item--71f {
  margin-bottom: 1.6rem;
  max-width: 16.2rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3999999653;
  color: #333333;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-5-6cM .auto-group-c3gx-3Xb .item-20231223-NCV {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #999999;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-5-6cM .rectangle-1073-gys {
  width: 100%;
  height: 22rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/rectangle-1073-bg-hsj.png');
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-6-229 {
  width: 38rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-6-229 .auto-group-wth9-mVX {
  box-sizing: border-box;
  padding: 0rem 0.2rem 4rem 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-6-229 .auto-group-wth9-mVX .item--VRX {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #574af9;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-6-229 .auto-group-wth9-mVX .item--oSD {
  margin-bottom: 1.6rem;
  max-width: 16.2rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3999999653;
  color: #333333;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-6-229 .auto-group-wth9-mVX .item-20231223-sS5 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #999999;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-6-229 .rectangle-1073-QS1 {
  width: 100%;
  height: 22rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/rectangle-1073-bg-ZHP.png');
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-7-LaZ {
  width: 38rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-7-LaZ .auto-group-xkjm-try {
  box-sizing: border-box;
  padding: 0rem 0.2rem 4rem 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-7-LaZ .auto-group-xkjm-try .item--DuF {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #574af9;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-7-LaZ .auto-group-xkjm-try .item--keH {
  margin-bottom: 1.6rem;
  max-width: 16.2rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3999999653;
  color: #333333;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-7-LaZ .auto-group-xkjm-try .item-20231223-REd {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #999999;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-4dsb-Aih .group-7-LaZ .rectangle-1073-9wK {
  width: 100%;
  height: 22rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/rectangle-1073-bg.png');
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X {
  margin-bottom: 8rem;
  width: 100%;
  height: 38.7rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-8-dbb {
  width: 38rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-8-dbb .auto-group-wlsf-nDb {
  box-sizing: border-box;
  padding: 0rem 0.2rem 4rem 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-8-dbb .auto-group-wlsf-nDb .item--v4u {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #574af9;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-8-dbb .auto-group-wlsf-nDb .item--F7B {
  margin-bottom: 1.6rem;
  max-width: 16.2rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3999999653;
  color: #333333;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-8-dbb .auto-group-wlsf-nDb .item-20231223-tfw {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #999999;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-8-dbb .rectangle-1073-baM {
  width: 100%;
  height: 22rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/rectangle-1073-bg-VS5.png');
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-9-i9B {
  width: 38rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-9-i9B .auto-group-6cus-Say {
  box-sizing: border-box;
  padding: 0rem 0.2rem 4rem 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-9-i9B .auto-group-6cus-Say .item--XsK {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #574af9;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-9-i9B .auto-group-6cus-Say .item--FYR {
  margin-bottom: 1.6rem;
  max-width: 16.2rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3999999653;
  color: #333333;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-9-i9B .auto-group-6cus-Say .item-20231223-KoB {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #999999;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-9-i9B .rectangle-1073-ro7 {
  width: 100%;
  height: 22rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/rectangle-1073-bg-8SR.png');
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-10-Cc5 {
  width: 38rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-10-Cc5 .auto-group-zs5d-Yvq {
  box-sizing: border-box;
  padding: 0rem 0.2rem 4rem 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-10-Cc5 .auto-group-zs5d-Yvq .item--5fs {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #574af9;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-10-Cc5 .auto-group-zs5d-Yvq .item--D1P {
  margin-bottom: 1.6rem;
  max-width: 16.2rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3999999653;
  color: #333333;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-10-Cc5 .auto-group-zs5d-Yvq .item-20231223-Fyf {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #999999;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .auto-group-jtdm-J3X .group-10-Cc5 .rectangle-1073-PKB {
  width: 100%;
  height: 22rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/rectangle-1073-bg-s9w.png');
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub {
  margin: 0 44.4rem;
  width: calc(100% - 88.8rem);
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub .group-4-Rmf {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub .pager-Ngu {
  width: 3.6rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f8;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub .pager-sNm {
  width: 3.6rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub .pager-zCV {
  width: 3.6rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub .pager-WAq {
  width: 3.6rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub .pager-29B {
  margin-right: 0.4rem;
  width: 3.6rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub .dots-horizontal-vEZ {
  margin-right: 0.4rem;
  width: 1.6rem;
  height: 0.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub .pager-3py {
  width: 3.6rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.item-6--xmj .auto-group-xysf-qad .frame-650-Wub .group-3-ZHX {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 {
  box-sizing: border-box;
  padding-bottom: 7.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .top-line-EuT {
  margin-bottom: 5.5rem;
  width: 100%;
  height: 0.1rem;
  background-color: #f2f2f2;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ {
  margin: 0 24rem;
  width: calc(100% - 48rem);
  height: 16.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 {
  width: 58.2rem;
  height: 100%;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P {
  margin: 0rem 6.8rem 5.8rem 0rem;
  width: calc(100% - 6.8rem);
  height: 2.1rem;
  display: flex;
  align-items: center;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .item--By7 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .auto-group-krfd-7rm {
  box-sizing: border-box;
  padding-left: 4.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .auto-group-krfd-7rm .bar-TQq {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 0.1rem;
  height: 1.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .auto-group-krfd-7rm .item--yty {
  margin-right: 4.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .auto-group-krfd-7rm .bar-JRT {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 0.1rem;
  height: 1.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .auto-group-krfd-7rm .item--pub {
  margin-right: 4.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .auto-group-krfd-7rm .bar-9gy {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 0.1rem;
  height: 1.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .auto-group-krfd-7rm .item--Q77 {
  margin-right: 4.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .auto-group-krfd-7rm .bar-8J1 {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 0.1rem;
  height: 1.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .foot-nav-59P .auto-group-krfd-7rm .item--FdX {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo {
  margin-bottom: 3.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 1.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo .frame-602-RAd {
  margin-right: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo .frame-602-RAd .item--Znd {
  margin-right: 2.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo .frame-602-RAd .item--tpu {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo .frame-607-Rpq {
  margin-right: 8.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo .frame-607-Rpq .item--yrM {
  margin-right: 2.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo .frame-607-Rpq .a37-K9X {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo .frame-605-2Zj {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo .frame-605-2Zj .item--P9P {
  margin-right: 4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-606-suo .frame-605-2Zj .item-415-86-02577-tbw {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-608-DeD {
  margin-right: 12.6rem;
  width: calc(100% - 12.6rem);
  height: 1.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-608-DeD .frame-604-x61 {
  margin-right: 4.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-608-DeD .frame-604-x61 .item--JvZ {
  margin-right: 4.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-608-DeD .frame-604-x61 .item-1670-2251-DXj {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-608-DeD .frame-608-kXf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-608-DeD .frame-608-kXf .item--WWq {
  margin-right: 2.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .company-info-jHo .frame-608-DeD .frame-608-kXf .item-10-17-11-30-12-30-drM {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .footer-contents-KR7 .bottom-Zu7 .easyjoin-inc-all-rights-reserved-8o7 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay {
  box-sizing: border-box;
  padding-left: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .frame-616-Pyw {
  margin: 7.4rem 59.6rem 6.9rem 0rem;
  box-sizing: border-box;
  padding: 0.6rem 0.8rem 0.5rem 0.8rem;
  width: 8.3rem;
  height: calc(100% - 14.3rem);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #f2f2f2;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP {
  margin-bottom: 0.8rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .logo-aYd {
  margin-bottom: 9.2rem;
  width: 12rem;
  height: 2.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf {
  margin-right: 1.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf .group-11-3BK {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf .icoi-NUV {
  margin-right: 0.9986rem;
  width: 4.0014rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf .icoi-NUV .mask-group-6fP {
  width: 0.8516rem;
  height: 0.9678rem;
  position: absolute;
  left: 2.1486rem;
  top: 0.9995rem;
  object-fit: contain;
  vertical-align: top;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf .icoi-NUV .mask-group-ctd {
  width: 2.0055rem;
  height: 2.002rem;
  position: absolute;
  left: 0.9973rem;
  top: 0.9978rem;
  object-fit: contain;
  vertical-align: top;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf .icoi-NUV .mask-group-YnH {
  width: 2.0006rem;
  height: 2.0025rem;
  position: absolute;
  left: 0.9996rem;
  top: 0.9979rem;
  object-fit: contain;
  vertical-align: top;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf .icoi-NUV .mask-group-Uvq {
  width: 3.9941rem;
  height: 3.9991rem;
  position: absolute;
  left: 0.0025rem;
  top: 0.0004rem;
  object-fit: contain;
  vertical-align: top;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf .icoi-NUV .mask-group-Crq {
  width: 4.0014rem;
  height: 4.0017rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf .icoi-NUV .mask-group-YQu {
  width: 0.8129rem;
  height: 0.8133rem;
  position: absolute;
  left: 1.5934rem;
  top: 1.5935rem;
  object-fit: contain;
  vertical-align: top;
}
.item-6--xmj .footer-VS5 .footer-container-PGZ .auto-group-wx1r-4Ay .auto-group-yvtx-ddP .sns-7Hf .icof-UZT {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
