.item-4--J4M {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    background-color: #ffffff;
}
.item-4--J4M .auto-group-gbzu-nVK {
    box-sizing: border-box;
    padding: 2.2rem 36rem 23rem 36rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #15181d;
    flex-shrink: 0;
}

.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT {
    margin-bottom: 1.6rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-9rmm-Uiq {
    margin-right: 67.4rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-9rmm-Uiq .item--q3b {
    margin-bottom: 1.6rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: #697077;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-9rmm-Uiq .item--xP7 {
    max-width: 32.6rem;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3999999818;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-naaf-DZw {
    margin-bottom: 0.4rem;
    box-sizing: border-box;
    padding: 3.6rem 6.95rem 2.7rem 7.05rem;
    width: 20rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-naaf-DZw .contract-2-1-vDT {
    margin: 0rem 0.1rem 1.9rem 0rem;
    width: 5.25rem;
    height: 6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-naaf-DZw .item--qLR {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq {
    width: 100%;
    height: 16rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .item--f4Z {
    margin: 0rem 31.3rem 4.8rem 0rem;
    max-width: 46.5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-syao-sAd {
    margin-right: 2.2rem;
    box-sizing: border-box;
    padding: 3.6rem 7rem 2.7rem 7rem;
    width: 20rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
.item-4--J4M
    .auto-group-gbzu-nVK
    .auto-group-devr-7Yq
    .auto-group-syao-sAd
    .customer-service-1-aKw {
    margin-bottom: 1.9rem;
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-syao-sAd .item--JWq {
    margin-left: 0.1rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-efvk-C6R {
    box-sizing: border-box;
    padding: 3.6rem 6.95rem 2.7rem 7rem;
    width: 20rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.2rem;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-efvk-C6R .landing-page-2-i4m {
    margin: 0rem 0.05rem 1.9rem 0rem;
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-efvk-C6R .item--qQH {
    margin-left: 0.05rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K {
    width: 100%;
    height: 228.4rem;
    position: relative;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w {
    width: 41.9rem;
    height: 13.7rem;
    position: absolute;
    left: 75.1rem;
    top: 20rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w .item--KsB {
    margin-bottom: 2.4rem;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w .item--KsB .item--KsB-sub-0 {
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w .item--KsB .item--KsB-sub-1 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #2779f4;
    font-family: Pretendard, "Source Sans Pro";
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w .item--cjo {
    max-width: 41.9rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.6000000347;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu {
    width: 120rem;
    height: 18rem;
    position: absolute;
    left: 36rem;
    top: 148.4rem;
    display: flex;
    align-items: center;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .rectangle-66-74H {
    width: 30rem;
    height: 18rem;
    background-color: rgba(0, 0, 0, 0.3000000119);
    background-size: 141.223% 100%;
    background-position: -12.0605rem 0;
    background-image: url("../../assets/images/rectangle-66-bg.png");
    border-radius: 1.2rem 0 0 1.2rem;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .rectangle-66-74H .rectangle-66-74H-bg {
    width: 30rem;
    height: 18rem;
    position: relative;
    /* background-image: url('REPLACE_IMAGE:9bacec0058c4f7bb94cafac77dd56d78e0a0c563'); */
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .auto-group-bdzd-xah {
    box-sizing: border-box;
    padding: 4rem 3.5rem 3.9rem 3.5rem;
    width: 90rem;
    height: 100%;
    background-color: #fafafa;
    border-radius: 0 1.2rem 1.2rem 0;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .auto-group-bdzd-xah .frame-909-tjF {
    width: 32.8rem;
    height: 100%;
}
.item-4--J4M
    .auto-group-uvns-65K
    .auto-group-pvfd-nGu
    .auto-group-bdzd-xah
    .frame-909-tjF
    .item--quP {
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3999999364;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-4--J4M
    .auto-group-uvns-65K
    .auto-group-pvfd-nGu
    .auto-group-bdzd-xah
    .frame-909-tjF
    .item--9fB {
    max-width: 32.8rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.6000000449;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH {
    width: 120rem;
    height: 18rem;
    position: absolute;
    left: 36rem;
    top: 169.4rem;
    display: flex;
    align-items: center;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH .rectangle-67-pPw {
    width: 30rem;
    height: 18rem;
    background-color: rgba(0, 0, 0, 0.400000006);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/rectangle-67-bg.png");
    border-radius: 1.2rem 0 0 1.2rem;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH .auto-group-3qqo-iER {
    box-sizing: border-box;
    padding: 4rem 3.5rem 3.9rem 3.5rem;
    width: 90rem;
    height: 100%;
    background-color: #fafafa;
    border-radius: 0 1.2rem 1.2rem 0;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH .auto-group-3qqo-iER .frame-910-EiZ {
    width: 40.9rem;
    height: 100%;
}
.item-4--J4M
    .auto-group-uvns-65K
    .auto-group-h8wp-tWH
    .auto-group-3qqo-iER
    .frame-910-EiZ
    .item--bJD {
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3999999364;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-4--J4M
    .auto-group-uvns-65K
    .auto-group-h8wp-tWH
    .auto-group-3qqo-iER
    .frame-910-EiZ
    .item--Hgq {
    max-width: 40.9rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.6000000449;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb {
    width: 120rem;
    height: 18rem;
    position: absolute;
    left: 36rem;
    top: 190.4rem;
    display: flex;
    align-items: center;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb .rectangle-68-mVX {
    width: 30rem;
    height: 18rem;
    background-color: rgba(0, 0, 0, 0.3000000119);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/rectangle-68-bg.png");
    border-radius: 1.2rem 0 0 1.2rem;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb .auto-group-ttsb-soT {
    box-sizing: border-box;
    padding: 4rem 3.5rem 3.9rem 3.5rem;
    width: 90rem;
    height: 100%;
    background-color: #fafafa;
    border-radius: 0 1.2rem 1.2rem 0;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb .auto-group-ttsb-soT .frame-911-QHb {
    width: 51.4rem;
    height: 100%;
}
.item-4--J4M
    .auto-group-uvns-65K
    .auto-group-nwtq-EVb
    .auto-group-ttsb-soT
    .frame-911-QHb
    .item--kcM {
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3999999364;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-4--J4M
    .auto-group-uvns-65K
    .auto-group-nwtq-EVb
    .auto-group-ttsb-soT
    .frame-911-QHb
    .item--SVB {
    max-width: 51.4rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.6000000449;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
}
.item-4--J4M .auto-group-uvns-65K .item-jch {
    box-sizing: border-box;
    padding: 4rem 4rem 3.9rem 4rem;
    width: 58rem;
    height: 28.7rem;
    position: absolute;
    left: 36rem;
    top: 41.6rem;
    background-color: #2779f4;
    border-radius: 2rem;
}
.item-4--J4M .auto-group-uvns-65K .item-jch .frame-652-qvd {
    margin: 0rem 26.2rem 1.5rem 0rem;
    width: calc(100% - 26.2rem);
    display: flex;
    align-items: center;
}
.item-4--J4M .auto-group-uvns-65K .item-jch .frame-652-qvd .pm-xVT {
    margin-right: 2.1rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.6000000238;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .item-jch .frame-652-qvd .project-management-te1 {
    margin-bottom: 0.1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #dde1e6;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .item-jch .item--1id {
    max-width: 15.3rem;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.6000000347;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f {
    width: 125.2rem;
    height: 61.4rem;
    position: absolute;
    left: 36rem;
    top: 41.6rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-jY9 {
    box-sizing: border-box;
    padding: 4rem 0rem 3.9rem 40rem;
    width: 63.2rem;
    height: 25.2rem;
    position: absolute;
    left: 62rem;
    top: 0;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 2rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-jY9 .frame-652-3Hw {
    margin-bottom: 1.5rem;
    width: 20.1rem;
    text-align: right;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.6000000238;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-jY9 .item--Lnq {
    margin-right: 9.2rem;
    max-width: 14rem;
    text-align: right;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.6000000347;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-x3X {
    box-sizing: border-box;
    padding: 4rem 4rem 7.4rem 23.3rem;
    width: 58rem;
    height: 28.7rem;
    position: absolute;
    left: 62rem;
    top: 32.7rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    background-color: #2779f4;
    border-radius: 2rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-x3X .frame-652-eS9 {
    margin: 0rem 1.7rem 1.5rem 0rem;
    width: calc(100% - 1.7rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-x3X .frame-652-eS9 .pm-AvH {
    margin-right: 2.4rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.6000000238;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-4--J4M
    .auto-group-uvns-65K
    .auto-group-kqyt-R1f
    .item-x3X
    .frame-652-eS9
    .project-management-7Kj {
    margin-bottom: 0.1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #f2f4f8;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-x3X .item--qWd {
    max-width: 19.3rem;
    text-align: right;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.6000000347;
    color: #ffffff;
    font-family: Pretendard, "Source Sans Pro";
    flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-TH7 {
    box-sizing: border-box;
    padding: 4rem 4rem 10.9rem 4rem;
    width: 58rem;
    height: 28.7rem;
    position: absolute;
    left: 0;
    top: 32.7rem;
    background-color: #fafafa;
    border-radius: 2rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-TH7 .frame-652-n4V {
    margin-bottom: 1.5rem;
    width: 28.7rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.6000000238;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-TH7 .item--J2q {
    max-width: 20.6rem;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.6000000347;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .ellipse-17-Jww {
    width: 22.5rem;
    height: 22.5rem;
    position: absolute;
    left: 48.7rem;
    top: 19.3rem;
    background-color: #ffffff;
    border-radius: 11.25rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .website-RFs {
    width: 12.3771rem;
    height: 12.4rem;
    position: absolute;
    left: 53.8115rem;
    top: 24.4rem;
    object-fit: contain;
    vertical-align: top;
}
.item-4--J4M .auto-group-uvns-65K .frame-628-Ltd {
    box-sizing: border-box;
    padding: 0 2rem;
    width: 51.1rem;
    height: 2.8rem;
    position: absolute;
    left: 36rem;
    top: 140.8rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    border: solid 0.1rem #2779f4;
}
.item-4--J4M .auto-group-uvns-65K .frame-912-1E5 {
    width: 11.7rem;
    height: 2.8rem;
    position: absolute;
    left: 36rem;
    top: 113rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #2779f4;
    box-sizing: border-box;
}
.item-4--J4M .auto-group-uvns-65K .frame-22-g5K {
    box-sizing: border-box;
    padding: 3.2rem 3.2rem 3.1rem 3.2rem;
    width: 120rem;
    height: 11.8rem;
    position: absolute;
    left: 36rem;
    top: 119rem;
    background-color: #f2f4f8;
    border-radius: 1.2rem;
}
.item-4--J4M .auto-group-uvns-65K .frame-22-g5K .item--z61 {
    max-width: 40rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.6000000449;
    color: #15181d;
    font-family: Pretendard, "Source Sans Pro";
}
