/* 
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}. */
item-4--J4M {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  background-color: #ffffff;
}
.item-4--J4M .auto-group-gbzu-nVK {
  box-sizing: border-box;
  padding: 2.2rem 36rem 23rem 36rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #15181d;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 {
  margin-bottom: 16.9rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .logo-S45 {
  margin: 0rem 19.6rem 0.3rem 0rem;
  width: 15.4rem;
  height: 3.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-1-9jB {
  margin-right: 6.6rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-1-9jB .auto-group-stgb-Vo3 {
  box-sizing: border-box;
  padding-right: 4.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-1-9jB .auto-group-stgb-Vo3 .item--qM7 {
  margin-right: 5.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-1-9jB .auto-group-stgb-Vo3 .item--jSV {
  margin-right: 4.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-1-9jB .auto-group-stgb-Vo3 .item--2wP {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-1-9jB .gnb-text-Mim {
  width: 11.8rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #0858f7;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-1-9jB .auto-group-q1wk-G53 {
  box-sizing: border-box;
  padding-left: 2.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-1-9jB .auto-group-q1wk-G53 .item--CjP {
  margin-right: 4.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-1-9jB .auto-group-q1wk-G53 .item--87F {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-2-qnM {
  margin-bottom: 0.5rem;
  height: 3.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-2-qnM .button-type-1-zQM {
  margin-right: 1rem;
  width: 8.2rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0858f7;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .gnb-6F7 .frame-2-qnM .button-type-1-G6y {
  width: 9.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #0858f7;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #0858f7;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-9rmm-Uiq {
  margin-right: 67.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-9rmm-Uiq .item--q3b {
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #697077;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-9rmm-Uiq .item--xP7 {
  max-width: 32.6rem;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3999999818;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-naaf-DZw {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding: 3.6rem 6.95rem 2.7rem 7.05rem;
  width: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-naaf-DZw .contract-2-1-vDT {
  margin: 0rem 0.1rem 1.9rem 0rem;
  width: 5.25rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-tvr1-jFT .auto-group-naaf-DZw .item--qLR {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  color: #2779f4;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq {
  width: 100%;
  height: 16rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .item--f4Z {
  margin: 0rem 31.3rem 4.8rem 0rem;
  max-width: 46.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-syao-sAd {
  margin-right: 2.2rem;
  box-sizing: border-box;
  padding: 3.6rem 7rem 2.7rem 7rem;
  width: 20rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-syao-sAd .customer-service-1-aKw {
  margin-bottom: 1.9rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-syao-sAd .item--JWq {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  color: #2779f4;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-efvk-C6R {
  box-sizing: border-box;
  padding: 3.6rem 6.95rem 2.7rem 7rem;
  width: 20rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-efvk-C6R .landing-page-2-i4m {
  margin: 0rem 0.05rem 1.9rem 0rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-gbzu-nVK .auto-group-devr-7Yq .auto-group-efvk-C6R .item--qQH {
  margin-left: 0.05rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  color: #2779f4;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K {
  width: 100%;
  height: 228.4rem;
  position: relative;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w {
  width: 41.9rem;
  height: 13.7rem;
  position: absolute;
  left: 75.1rem;
  top: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w .item--KsB {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w .item--KsB .item--KsB-sub-0 {
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w .item--KsB .item--KsB-sub-1 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
  color: #2779f4;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-4--J4M .auto-group-uvns-65K .frame-23-D9w .item--cjo {
  max-width: 41.9rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6000000347;
  color: #15181d;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu {
  width: 120rem;
  height: 18rem;
  position: absolute;
  left: 36rem;
  top: 148.4rem;
  display: flex;
  align-items: center;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .rectangle-66-74H {
  width: 30rem;
  height: 18rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
  background-size: 141.223% 100%;
  background-position: -12.0605rem 0;
  background-image: url('../../assets/images/rectangle-66-bg.png');
  border-radius: 1.2rem 0 0 1.2rem;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .rectangle-66-74H .rectangle-66-74H-bg {
  width: 30rem;
  height: 18rem;
  position: relative;
  /* background-image: url('REPLACE_IMAGE:9bacec0058c4f7bb94cafac77dd56d78e0a0c563'); */
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .auto-group-bdzd-xah {
  box-sizing: border-box;
  padding: 4rem 3.5rem 3.9rem 3.5rem;
  width: 90rem;
  height: 100%;
  background-color: #fafafa;
  border-radius: 0 1.2rem 1.2rem 0;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .auto-group-bdzd-xah .frame-909-tjF {
  width: 32.8rem;
  height: 100%;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .auto-group-bdzd-xah .frame-909-tjF .item--quP {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-pvfd-nGu .auto-group-bdzd-xah .frame-909-tjF .item--9fB {
  max-width: 32.8rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6000000449;
  color: #15181d;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH {
  width: 120rem;
  height: 18rem;
  position: absolute;
  left: 36rem;
  top: 169.4rem;
  display: flex;
  align-items: center;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH .rectangle-67-pPw {
  width: 30rem;
  height: 18rem;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/rectangle-67-bg.png');
  border-radius: 1.2rem 0 0 1.2rem;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH .auto-group-3qqo-iER {
  box-sizing: border-box;
  padding: 4rem 3.5rem 3.9rem 3.5rem;
  width: 90rem;
  height: 100%;
  background-color: #fafafa;
  border-radius: 0 1.2rem 1.2rem 0;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH .auto-group-3qqo-iER .frame-910-EiZ {
  width: 40.9rem;
  height: 100%;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH .auto-group-3qqo-iER .frame-910-EiZ .item--bJD {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-h8wp-tWH .auto-group-3qqo-iER .frame-910-EiZ .item--Hgq {
  max-width: 40.9rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6000000449;
  color: #15181d;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb {
  width: 120rem;
  height: 18rem;
  position: absolute;
  left: 36rem;
  top: 190.4rem;
  display: flex;
  align-items: center;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb .rectangle-68-mVX {
  width: 30rem;
  height: 18rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/rectangle-68-bg.png');
  border-radius: 1.2rem 0 0 1.2rem;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb .auto-group-ttsb-soT {
  box-sizing: border-box;
  padding: 4rem 3.5rem 3.9rem 3.5rem;
  width: 90rem;
  height: 100%;
  background-color: #fafafa;
  border-radius: 0 1.2rem 1.2rem 0;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb .auto-group-ttsb-soT .frame-911-QHb {
  width: 51.4rem;
  height: 100%;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb .auto-group-ttsb-soT .frame-911-QHb .item--kcM {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-nwtq-EVb .auto-group-ttsb-soT .frame-911-QHb .item--SVB {
  max-width: 51.4rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6000000449;
  color: #15181d;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-4--J4M .auto-group-uvns-65K .item-jch {
  box-sizing: border-box;
  padding: 4rem 4rem 3.9rem 4rem;
  width: 58rem;
  height: 28.7rem;
  position: absolute;
  left: 36rem;
  top: 41.6rem;
  background-color: #2779f4;
  border-radius: 2rem;
}
.item-4--J4M .auto-group-uvns-65K .item-jch .frame-652-qvd {
  margin: 0rem 26.2rem 1.5rem 0rem;
  width: calc(100% - 26.2rem);
  display: flex;
  align-items: center;
}
.item-4--J4M .auto-group-uvns-65K .item-jch .frame-652-qvd .pm-xVT {
  margin-right: 2.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.6000000238;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .item-jch .frame-652-qvd .project-management-te1 {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #dde1e6;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .item-jch .item--1id {
  max-width: 15.3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6000000347;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f {
  width: 125.2rem;
  height: 61.4rem;
  position: absolute;
  left: 36rem;
  top: 41.6rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-jY9 {
  box-sizing: border-box;
  padding: 4rem 0rem 3.9rem 40rem;
  width: 63.2rem;
  height: 25.2rem;
  position: absolute;
  left: 62rem;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 2rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-jY9 .frame-652-3Hw {
  margin-bottom: 1.5rem;
  width: 20.1rem;
  text-align: right;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.6000000238;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-jY9 .item--Lnq {
  margin-right: 9.2rem;
  max-width: 14rem;
  text-align: right;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6000000347;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-x3X {
  box-sizing: border-box;
  padding: 4rem 4rem 7.4rem 23.3rem;
  width: 58rem;
  height: 28.7rem;
  position: absolute;
  left: 62rem;
  top: 32.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #2779f4;
  border-radius: 2rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-x3X .frame-652-eS9 {
  margin: 0rem 1.7rem 1.5rem 0rem;
  width: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-x3X .frame-652-eS9 .pm-AvH {
  margin-right: 2.4rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.6000000238;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-x3X .frame-652-eS9 .project-management-7Kj {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #f2f4f8;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-x3X .item--qWd {
  max-width: 19.3rem;
  text-align: right;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6000000347;
  color: #ffffff;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-TH7 {
  box-sizing: border-box;
  padding: 4rem 4rem 10.9rem 4rem;
  width: 58rem;
  height: 28.7rem;
  position: absolute;
  left: 0;
  top: 32.7rem;
  background-color: #fafafa;
  border-radius: 2rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-TH7 .frame-652-n4V {
  margin-bottom: 1.5rem;
  width: 28.7rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.6000000238;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .item-TH7 .item--J2q {
  max-width: 20.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6000000347;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .ellipse-17-Jww {
  width: 22.5rem;
  height: 22.5rem;
  position: absolute;
  left: 48.7rem;
  top: 19.3rem;
  background-color: #ffffff;
  border-radius: 11.25rem;
}
.item-4--J4M .auto-group-uvns-65K .auto-group-kqyt-R1f .website-RFs {
  width: 12.3771rem;
  height: 12.4rem;
  position: absolute;
  left: 53.8115rem;
  top: 24.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item-4--J4M .auto-group-uvns-65K .frame-628-Ltd {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 51.1rem;
  height: 2.8rem;
  position: absolute;
  left: 36rem;
  top: 140.8rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #2779f4;
}
.item-4--J4M .auto-group-uvns-65K .frame-912-1E5 {
  width: 11.7rem;
  height: 2.8rem;
  position: absolute;
  left: 36rem;
  top: 113rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #2779f4;
  box-sizing: border-box;
}
.item-4--J4M .auto-group-uvns-65K .frame-22-g5K {
  box-sizing: border-box;
  padding: 3.2rem 3.2rem 3.1rem 3.2rem;
  width: 120rem;
  height: 11.8rem;
  position: absolute;
  left: 36rem;
  top: 119rem;
  background-color: #f2f4f8;
  border-radius: 1.2rem;
}
.item-4--J4M .auto-group-uvns-65K .frame-22-g5K .item--z61 {
  max-width: 40rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6000000449;
  color: #15181d;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-4--J4M .footer-hed {
  box-sizing: border-box;
  padding-bottom: 7.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .top-line-FAM {
  margin-bottom: 5.5rem;
  width: 100%;
  height: 0.1rem;
  background-color: #f2f2f2;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq {
  margin: 0 24rem;
  width: calc(100% - 48rem);
  height: 16.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 {
  width: 58.2rem;
  height: 100%;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH {
  margin: 0rem 6.8rem 5.8rem 0rem;
  width: calc(100% - 6.8rem);
  height: 2.1rem;
  display: flex;
  align-items: center;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .item--QBf {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .auto-group-m4lj-vQu {
  box-sizing: border-box;
  padding-left: 4.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .auto-group-m4lj-vQu .bar-Fi5 {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 0.1rem;
  height: 1.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .auto-group-m4lj-vQu .item--B5w {
  margin-right: 4.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .auto-group-m4lj-vQu .bar-u1w {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 0.1rem;
  height: 1.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .auto-group-m4lj-vQu .item--DHX {
  margin-right: 4.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .auto-group-m4lj-vQu .bar-Y4u {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 0.1rem;
  height: 1.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .auto-group-m4lj-vQu .item--s7B {
  margin-right: 4.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .auto-group-m4lj-vQu .bar-b3B {
  margin: 0rem 2.4rem 0.2rem 0rem;
  width: 0.1rem;
  height: 1.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .foot-nav-5QH .auto-group-m4lj-vQu .item--7GR {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P {
  margin-bottom: 3.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 1.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm .frame-602-rtD {
  margin-right: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm .frame-602-rtD .item--1WD {
  margin-right: 2.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm .frame-602-rtD .item--96d {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm .frame-607-Td7 {
  margin-right: 8.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm .frame-607-Td7 .item--D6V {
  margin-right: 2.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm .frame-607-Td7 .a37-YPf {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm .frame-605-exV {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm .frame-605-exV .item--RCZ {
  margin-right: 4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-606-vUm .frame-605-exV .item-415-86-02577-vf7 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-608-eb7 {
  margin-right: 12.6rem;
  width: calc(100% - 12.6rem);
  height: 1.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-608-eb7 .frame-604-MkR {
  margin-right: 4.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-608-eb7 .frame-604-MkR .item--7Do {
  margin-right: 4.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-608-eb7 .frame-604-MkR .item-1670-2251-DXj {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-608-eb7 .frame-608-LsF {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-608-eb7 .frame-608-LsF .item--u9f {
  margin-right: 2.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .company-info-B1P .frame-608-eb7 .frame-608-LsF .item-10-17-11-30-12-30-pXX {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #595959;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .footer-contents-Kg1 .bottom-pRj .easyjoin-inc-all-rights-reserved-7Fj {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0d0d0d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD {
  box-sizing: border-box;
  padding-left: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .frame-616-MA5 {
  margin: 7.4rem 59.6rem 6.9rem 0rem;
  box-sizing: border-box;
  padding: 0.6rem 0.8rem 0.5rem 0.8rem;
  width: 8.3rem;
  height: calc(100% - 14.3rem);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #f2f2f2;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd {
  margin-bottom: 0.8rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .logo-XCy {
  margin-bottom: 9.2rem;
  width: 12rem;
  height: 2.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To {
  margin-right: 1.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To .group-11-byX {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To .icoi-ruT {
  margin-right: 0.9986rem;
  width: 4.0014rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To .icoi-ruT .mask-group-zEy {
  width: 0.8516rem;
  height: 0.9678rem;
  position: absolute;
  left: 2.1486rem;
  top: 0.9995rem;
  object-fit: contain;
  vertical-align: top;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To .icoi-ruT .mask-group-K2M {
  width: 2.0055rem;
  height: 2.002rem;
  position: absolute;
  left: 0.9973rem;
  top: 0.9978rem;
  object-fit: contain;
  vertical-align: top;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To .icoi-ruT .mask-group-S6y {
  width: 2.0005rem;
  height: 2.0025rem;
  position: absolute;
  left: 0.9996rem;
  top: 0.9979rem;
  object-fit: contain;
  vertical-align: top;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To .icoi-ruT .mask-group-xb7 {
  width: 3.9942rem;
  height: 3.9991rem;
  position: absolute;
  left: 0.0026rem;
  top: 0.0004rem;
  object-fit: contain;
  vertical-align: top;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To .icoi-ruT .mask-group-tjf {
  width: 4.0014rem;
  height: 4.0017rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To .icoi-ruT .mask-group-EYd {
  width: 0.8129rem;
  height: 0.8133rem;
  position: absolute;
  left: 1.5934rem;
  top: 1.5935rem;
  object-fit: contain;
  vertical-align: top;
}
.item-4--J4M .footer-hed .footer-container-zNq .auto-group-abpr-RnD .auto-group-3vyh-aYd .sns-4To .icof-ASH {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
