 .footer-fQh {
     display: flex;
    box-sizing: border-box;
    padding-bottom: 7.6rem;
    width: 192rem;
    height: 30rem;
    left: 0;
    top: 351rem;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}
 .footer-fQh .top-line-b3T {
    margin-bottom: 5.5rem;
    width: 100%;
    height: 0.1rem;
    background-color: #f2f2f2;
    flex-shrink: 0;
}
 .footer-fQh .footer-container-vbX {
    margin: 0 24rem;
    width: calc(100% - 48rem);
    height: 16.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
 .footer-fQh .footer-container-vbX .footer-contents-GQV {
    width: 58.2rem;
    height: 100%;
    flex-shrink: 0;
}
 .footer-fQh .footer-container-vbX .footer-contents-GQV .foot-nav-28m {
    margin: 0rem 6.8rem 5.8rem 0rem;
    width: calc(100% - 6.8rem);
    height: 2.1rem;
    display: flex;
    align-items: center;
}
 .footer-fQh .footer-container-vbX .footer-contents-GQV .foot-nav-28m .item--Z8h {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2575;
    color: #0d0d0d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .foot-nav-28m
    .auto-group-vqaf-3pZ {
    box-sizing: border-box;
    padding-left: 4.1rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .foot-nav-28m
    .auto-group-vqaf-3pZ
    .bar-APP {
    margin: 0rem 2.4rem 0.2rem 0rem;
    width: 0.1rem;
    height: 1.6rem;
    background-color: #d9d9d9;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .foot-nav-28m
    .auto-group-vqaf-3pZ
    .item--heD {
    margin-right: 4.3rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2575;
    color: #0d0d0d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .foot-nav-28m
    .auto-group-vqaf-3pZ
    .bar-2gV {
    margin: 0rem 2.4rem 0.2rem 0rem;
    width: 0.1rem;
    height: 1.6rem;
    background-color: #d9d9d9;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .foot-nav-28m
    .auto-group-vqaf-3pZ
    .item--NEZ {
    margin-right: 4.1rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2575;
    color: #0d0d0d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .foot-nav-28m
    .auto-group-vqaf-3pZ
    .bar-VKB {
    margin: 0rem 2.4rem 0.2rem 0rem;
    width: 0.1rem;
    height: 1.6rem;
    background-color: #d9d9d9;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .foot-nav-28m
    .auto-group-vqaf-3pZ
    .item--Rid {
    margin-right: 4.1rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2575;
    color: #0d0d0d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .foot-nav-28m
    .auto-group-vqaf-3pZ
    .bar-MsB {
    margin: 0rem 2.4rem 0.2rem 0rem;
    width: 0.1rem;
    height: 1.6rem;
    background-color: #d9d9d9;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .foot-nav-28m
    .auto-group-vqaf-3pZ
    .item--HVw {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2575;
    color: #0d0d0d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
 .footer-fQh .footer-container-vbX .footer-contents-GQV .bottom-1Rw {
    width: 100%;
    display: flex;
    flex-direction: column;
}
 .footer-fQh .footer-container-vbX .footer-contents-GQV .bottom-1Rw .company-info-Apd {
    margin-bottom: 3.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV {
    margin-bottom: 0.7rem;
    width: 100%;
    height: 1.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV
    .frame-602-qQy {
    margin-right: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV
    .frame-602-qQy
    .item--Zrm {
    margin-right: 2.3rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV
    .frame-602-qQy
    .item--t8M {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV
    .frame-607-oFK {
    margin-right: 8.1rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV
    .frame-607-oFK
    .item--A5s {
    margin-right: 2.3rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV
    .frame-607-oFK
    .a37-Vtq {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV
    .frame-605-E5j {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV
    .frame-605-E5j
    .item--mbT {
    margin-right: 4rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-606-6CV
    .frame-605-E5j
    .item-415-86-02577-hV7 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-608-CRs {
    margin-right: 12.6rem;
    width: calc(100% - 12.6rem);
    height: 1.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-608-CRs
    .frame-604-8KX {
    margin-right: 4.7rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-608-CRs
    .frame-604-8KX
    .item--faM {
    margin-right: 4.3rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-608-CRs
    .frame-604-8KX
    .item-1670-2251-JtD {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-608-CRs
    .frame-608-3au {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-608-CRs
    .frame-608-3au
    .item--QwF {
    margin-right: 2.9rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .company-info-Apd
    .frame-608-CRs
    .frame-608-3au
    .item-10-17-11-30-12-30-YnZ {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #595959;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .footer-contents-GQV
    .bottom-1Rw
    .easyjoin-inc-all-rights-reserved-3jK {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #0d0d0d;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
}
 .footer-fQh .footer-container-vbX .auto-group-jwh9-LiR {
    box-sizing: border-box;
    padding-left: 2.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
 .footer-fQh .footer-container-vbX .auto-group-jwh9-LiR .frame-616-VLR {
    margin: 7.4rem 59.6rem 6.9rem 0rem;
    box-sizing: border-box;
    padding: 0.6rem 0.8rem 0.5rem 0.8rem;
    width: 8.3rem;
    height: calc(100% - 14.3rem);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #a6a6a6;
    font-family: Pretendard, "Source Sans Pro";
    white-space: nowrap;
    border: solid 0.1rem #f2f2f2;
    border-radius: 0.4rem;
    flex-shrink: 0;
}
 .footer-fQh .footer-container-vbX .auto-group-jwh9-LiR .auto-group-ngi7-YJh {
    margin-bottom: 0.8rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
 .footer-fQh .footer-container-vbX .auto-group-jwh9-LiR .auto-group-ngi7-YJh .logo-gA1 {
    margin-bottom: 9.2rem;
    width: 12rem;
    height: 2.8rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
 .footer-fQh .footer-container-vbX .auto-group-jwh9-LiR .auto-group-ngi7-YJh .sns-d5F {
    margin-right: 1.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .auto-group-jwh9-LiR
    .auto-group-ngi7-YJh
    .sns-d5F
    .group-11-kvZ {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .auto-group-jwh9-LiR
    .auto-group-ngi7-YJh
    .sns-d5F
    .icoi-VNM {
    margin-right: 0.9986rem;
    width: 4.0014rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

    .footer-fQh
    .footer-container-vbX
    .auto-group-jwh9-LiR
    .auto-group-ngi7-YJh
    .sns-d5F
    .icoi-VNM
    .mask-group-QVK {
    width: 0.8517rem;
    height: 0.9678rem;
    position: absolute;
    left: 2.1485rem;
    top: 0.9995rem;
    object-fit: contain;
    vertical-align: top;
}

    .footer-fQh
    .footer-container-vbX
    .auto-group-jwh9-LiR
    .auto-group-ngi7-YJh
    .sns-d5F
    .icoi-VNM
    .mask-group-9C1 {
    width: 2.0055rem;
    height: 2.002rem;
    position: absolute;
    left: 0.9973rem;
    top: 0.9978rem;
    object-fit: contain;
    vertical-align: top;
}

    .footer-fQh
    .footer-container-vbX
    .auto-group-jwh9-LiR
    .auto-group-ngi7-YJh
    .sns-d5F
    .icoi-VNM
    .mask-group-Uzy {
    width: 2.0005rem;
    height: 2.0025rem;
    position: absolute;
    left: 0.9996rem;
    top: 0.9979rem;
    object-fit: contain;
    vertical-align: top;
}

    .footer-fQh
    .footer-container-vbX
    .auto-group-jwh9-LiR
    .auto-group-ngi7-YJh
    .sns-d5F
    .icoi-VNM
    .mask-group-Q7w {
    width: 3.9941rem;
    height: 3.9991rem;
    position: absolute;
    left: 0.0026rem;
    top: 0.0004rem;
    object-fit: contain;
    vertical-align: top;
}

    .footer-fQh
    .footer-container-vbX
    .auto-group-jwh9-LiR
    .auto-group-ngi7-YJh
    .sns-d5F
    .icoi-VNM
    .mask-group-95X {
    width: 4.0014rem;
    height: 4.0017rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
}

    .footer-fQh
    .footer-container-vbX
    .auto-group-jwh9-LiR
    .auto-group-ngi7-YJh
    .sns-d5F
    .icoi-VNM
    .mask-group-6Ff {
    width: 0.8129rem;
    height: 0.8133rem;
    position: absolute;
    left: 1.5934rem;
    top: 1.5935rem;
    object-fit: contain;
    vertical-align: top;
}

    .footer-fQh
    .footer-container-vbX
    .auto-group-jwh9-LiR
    .auto-group-ngi7-YJh
    .sns-d5F
    .icof-DbB {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}